{% extends 'base.html.twig' %}

{% block title %}Utilisateurs en attente{% endblock %}

{% block stylesheets %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #003B73;
        }
        .table .block {
            font-size: 1.4em;
            font-weight: bold;
            color: #333;
        }
        .table td.unite {
            font-size: 1.1em;
            color: rgb(13, 95, 210);
            background-color: rgb(209, 235, 242);
        }
        .table .periode {
            font-size: 1em;
        }
        .table td.periode-P6 {
            background-color: pink;
            width: 10px;
        }
        .table td.periode-P7 {
            background-color: blue;
        }
        .table td.periode-P8 {
            background-color: green;
        }
        .table td.periode-P9 {
            background-color: blueviolet;
        }
        .table td.periode-P10 {
            background-color: red;
        }
        .table .type-epreuve-1 {
            color: green;
        }
        .table .type-epreuve-2 {
            color: purple;
        }
        th {
            background-color: aqua;
        }
        button {
            padding: 5px 10px;
            font-size: 0.8em;
            border-radius: 20px;
            display: block;
            margin: 0 auto;
        }
        button.ajouter {
            background-color: greenyellow;
            color: black;
        }
        button.delete {
            background-color: red;
            color: black;
        }
    </style>
{% endblock %}

{% block body %}
    <br><br><br><br>
    <p style="text-align:center; color:black;"><b>Nouveaux utilisateurs en attente de validation</b></p>
    <table id="pending-users-table" class="table table-bordered table-hover table-sm">
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                    <td>
                        <form action="{{ path('users_delete', {'id': user.id}) }}" method="post">
                            <!-- Suppression du champ _token -->
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="delete">refus</button>
                        </form>
                    </td>
                    <td>
                        <form action="{{ path('users_confirm', {'id': user.id}) }}" method="post">
                            <!-- Suppression du champ _token -->
                            <input type="hidden" name="_method" value="PUT">
                            <button type="submit" class="ajouter">Confirmation</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <p style="text-align:center; color: black;"><b>Utilisateurs</b></p>
    <table id="validated-users-table" class="table table-bordered table-hover table-sm">
        <tbody>
            {% for user in user_validate %}
                <tr>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                    <td>
                        <form action="{{ path('users_supprimer', {'id': user.id}) }}" method="post">
                            <!-- Suppression du champ _token -->
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="delete">Supprimer</button>
                        </form>
                    </td>
                    {% if 'ROLE_ADMIN' in user.Roles %}
                        <td>Administrateur</td>
                        {% else %}
                        <td>Utilisateur standard</td>
                    {% endif %}
                    <td>
                        <form action="{{ path('users_modif', {'id': user.id}) }}" method="post">
                            <!-- Suppression du champ _token -->
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="ajouter">Modification_rôle</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
