{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>
   body{
        background-color:#003B73;
   }
    .form-container {
        max-width: 800px;
        margin: 50px auto;
        padding: 30px;
        border: 1px solid #e5e5e5;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        margin-bottom: 30px;
    }

    .form-control {
        width: 100%;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 12px;
        text-align: left;
        border: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
        font-weight: 600;
    }

    .required-field {
        color: red;
    }

    .table-container {
        margin-top: 50px;
    }
</style>
{% endblock %}

{% block body %}
<div class="form-container">
    <h1 style="text-align:center; font-size:30px;">Importation d'un fichier CSV contenant les étudiants</h1>
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.csv_file) }}
        {{ form_widget(form.csv_file) }}
        <div class="form-error">
            {{ form_errors(form.csv_file) }}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Importer</button>
    {{ form_end(form) }}
</div>

<div class="table-container">
    <small>
        <br><br><b style="color:black;">Le fichier CSV doit comporter les entêtes suivantes:<br><br>
        <table>
            <tr>
                <th>numetd</th>
                <th>nom</th>
                <th>prenom</th>
                <th>sexe</th>
                <th>email</th>
                <th>tel</th>
                <th>adresse</th>
                <th>nationalite</th>
                <th>derdiplome</th>
                <th>dateinsc</th>
                <th>filiere</th>
                <th>Type_bac</th>
                <th>anneebac</th>
                <th>mention</th>
                <th>moyennebac</th>
            </tr>
        </table>
    </small>
</div>


{% endblock %}
